<div class="pb-5" style="background: rgb(236, 245, 254)">
  <div>
    <div class="row px-0 mx-0">
      <div class="col-12 col-md-12 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-md-12 col-lg-10 col-xl-8">
        <div class="pt-md-5">
          <div class="text-center">
            <div class="pt-md-5">
              <div class="row pt-5 gx-5 px-0 mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-6 py-1">
                  <p
                    class="d-none d-md-block d-xl-block d-lg-block"
                    style="
                      text-align: left;
                      font-size: 28px;
                      line-height: 140%;
                      font-style: normal;
                    "
                  >
                    Connect with billions of people across the Globe .
                  </p>
                  <p class="text-font d-block d-md-none d-xl-none d-lg-none">
                    Connect with billions of people across the Globe.
                  </p>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                  <div
                    class="d-none d-lg-none d-md-block d-lg-block d-xl-block"
                  >
                    <img
                      src="../assets/images/connect.svg"
                      alt="image"
                      class="connect-image-align"
                      style="width: 70%"
                    />
                  </div>
                  <div class="d-block d-md-none d-xl-none d-lg-none d-xl-none">
                    <img
                      src="../assets/images/connect.svg"
                      alt="image"
                      class="connect-image-align"
                      style="width: 90%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  </div>
  <br />
</div>
