<div class="text-white hero">
  <div class="row px-0 mx-0 bg-hero">
    <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-12 col-md-10 col-lg-10 col-xl-10">
      <div class="row container pt-md-5">
        <div class="col-12 col-md-12 col-lg-12 col-xl-6 pb-5">
          <p class="pt-5 banner-sub-text" id="banner-sub-text">
            Build. Manage.
          </p>
          <p class="banner-text" id="banner-text">PROMOTE.</p>
          <p class="puplic-relation-text">
            We are a Strategic Marketing agency. we set new brands in motion,
            revive existing ones and create fresh customer's experiences.
          </p>
          <div class="pt-4">
            <button id="banner-btn-text" class="btn btn-lg banner-btn-text">
              Send a Request
            </button>
          </div>
        </div>
        <div
          class="col-12 col-md-12 col-lg-12 col-xl-6 d-none d-md-none d-lg-none d-xl-block position-relative overflow-hidden"
        >
          <div class="banner-left-image">
            <!-- <img
              src="../assets/images/mecnix.gif"
              alt="gif image"
              class="banner-image"
            /> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
  </div>
</div>
