<div class="px-xl-5 pb-5 postition">
  <div>
    <div class="row px-0 mx-0">
      <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-md-10 col-lg-10 col-xl-10">
        <div class="pt-5">
          <div class="text-centers">
            <div class="pt-5">
              <h3 class="pb-5 puplic-relation-head-text d-none d-md-block">
                Public Relation
              </h3>
              <h3
                class="pb-3 display-3 d-block d-md-none"
                style="font-weight: bolder"
              >
                Public Relation
              </h3>
              <div>
                <img
                  src="../assets/images/public_relations.png"
                  alt="image"
                  class="background-image w-100"
                />
              </div>
              <div class="pt-5 puplic-relation-text">
                Excellence with in-built concept and unique products is a
                kickstart but what's the storyline behind your image out there?
                let structure your awarness and build trust for your hand.
              </div>
            </div>
          </div>
        </div>
        <div
          class="chain-border px-md-4 d-none pt-3 d-md-block postition-public"
        >
          <div class="pt-5 pb-5">
            <h1 class="puplic-relation-head-text2">We Breathe BLOCKCHAIN</h1>
            <p class="puplic-relation-head-text3">
              We Build, Manage, and Promote
            </p>
            <div class="pt-5">
              <img src="../assets/images/crptoNames.png" alt="image" style="width: 100%" />
            </div>
          </div>
        </div>
        <div
          class="card px-md-5 d-block d-md-none text-center"
          style="border-radius: 15px; border-color: black"
        >
          <div class="card-body">
            <div class="pt-5 pb-5">
              <h1 class="puplic-relation-head-text2-sm pb-3">
                We Breathe BLOCKCHAIN
              </h1>
              <p class="puplic-relation-head-text-sm">
                We Build, Manage, and Promote
              </p>
              <div class="pt-3">
                <img src="../assets/images/crptoNames.png" alt="image" style="width: 100%" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
  </div>
  <br />
</div>
