<footer class="w-100 text-white h-auto overflow-hidden">
  <div class="row text-font text-white px-0 mx-0">
    <div class="display-4 pt-2 d-block d-md-none">
      &nbsp; &nbsp; Connect with us
    </div>
    <div class="col-12 col-md-6">
      <div class="contact-us pt-2 d-none d-md-block">Connect with us</div>
    </div>
    <div class="col-12 col-md-6 px-xl-5 pt-md-3" style="text-align: right">
      <div>
        <button type="button" class="btn btn-link">
          <i
            class="bi bi-telegram"
            style="font-size: 30px; color: white"
          ></i></button
        >&nbsp; &nbsp;<button type="button" class="btn btn-link">
          <i
            class="bi bi-instagram"
            style="font-size: 30px; color: white"
          ></i></button
        >&nbsp; &nbsp;<button type="button" class="btn btn-link">
          <i class="bi bi-twitter" style="font-size: 30px; color: white"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="row text-font text-white">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="d-none d-md-block">
          <img
            src="../assets/images/footerIMage.png"
            class="img-fluid"
            alt="..."
            style="width: 70%"
          />
        </div>
        <div class="d-block d-md-none">
          <img
            src="../assets/images/footerIMage.png"
            class="img-fluid"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 py-5 py-md-0">
        <div>
          <h3>Our Services</h3>
          <div>
            <div class="text-capitalize pt-2 footer-text">marketing</div>
          </div>
          <div>
            <div class="text-capitalize pt-2 footer-text">
              project development
            </div>
          </div>
          <div>
            <div class="text-capitalize pt-2 footer-text">
              project management
            </div>
          </div>
          <div>
            <div class="text-capitalize pt-2 footer-text">SEO optimization</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 pb-2">
        <div class="footer-card">
          <div class="card-body" style="text-align: left">
            <h3>Contact</h3>
            <small
              ><i class="bi bi-geo-alt" style="color: rgb(250, 198, 3)"></i>
              &nbsp;Enugu 120004, Nigeria</small
            ><br /><small
              ><i
                class="bi bi-envelope-check"
                style="color: rgb(250, 198, 3)"
              ></i>
              &nbsp; info@mecnix.com</small
            >
          </div>
        </div>
        <div class="pt-3 text-center" style="text-align: left">
          @ 2022 Copyright Mecnix.com
        </div>
      </div>
    </div>
  </div>
</footer>
