<nav
  class="navbar navbar-expand-lg navbar-light fixed-top bg-light px-5 pt-2 pb-2 d-md-block"
>
  <div class="container-fluid text-font">
    <div class="d-flex">
      <a href="/"
        ><img src="../assets/images/logo.png" alt="image" class="w-50" /></a
      ><button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-5"><a class="btn nav-bar-text">Service</a></li>
          <li class="nav-item px-5">
            <button class="btn nav-bar-text">About Us</button>
          </li>
          <li class="nav-item px-5 pt-2 nav-bar-text">
            <a
              class="btn nav-bar-text"
              href="../pages/career.html"
              style="text-decoration: none"
              >Careers</a
            >
          </li>
          <button
            class="btn btn-outline banner-btn-text"
            style="
              border-radius: 10px;
              border-color: rgb(253, 198, 4);
              color: rgb(253, 198, 4);
            "
          >
            Contact Us
          </button>
        </ul>
      </form>
    </div>
  </div>
</nav>
