<div class="pt-md-5 pb-5">
  <div class="row px-0 mx-0">
    <div class="col-12 col-md-12 col-lg-12 col-xl-5 text-center pt-xl-5">
      <img src="../assets/images/bullsEye.png" style="width: 200px; height: 200px" />
    </div>
    <div class="col-12 col-md-12 col-lg-12 col-xl-7 pt-5">
      <h1 style="font-weight: bolder; color: rgb(2, 58, 109)">Our Missions</h1>
      <p class="career-text">
        Setting new brands in motion is one of our core drive in mecnix, but
        we’re not limited to that as we revive existing ones, create a fresh
        customer's experiences and also in the space of building a sustainable
        blockchain
      </p>
    </div>
  </div>
</div>
