/* Shared styling for mobile and large screens */

.hero {
  background: url("../assets/images//mecnix.gif");
}
.bg-hero {
  background-color: rgba(1, 14, 45, 0.5);
  padding-top: 100px;
}
footer {
  margin-top: 100px;
  background-image: url("../assets/images/footer_bg.png");
}

.top-plus {
  position: relative;
  top: -35px;
}
.number-wieght {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 40px !important;
}
.text-size {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 70px !important;
}

.background-image {
  height: 350px;
  border-radius: 0px 15rem 0px 15rem;
}

.chain-border {
  border-radius: 20px;
  border: 1px solid rgb(170 183 187);
}

.text-font {
  font-size: 16px;
}
.color {
  border-radius: 15px;
  background: linear-gradient(145deg, rgb(88 191 236), rgb(88 191 236));
}
.portfolio-card-text {
  position: relative;
  top: 80px;
}

.top-left {
  position: absolute;
  top: 50px;
  left: 60px;
}

@media (min-width: 1200px) {
  .connect-image-align {
    position: relative;
    top: -40px;
  }
}

.puplic-relation-head-text {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  color: #000000;
}

.puplic-relation-head-text2 {
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 106%;
}
.puplic-relation-head-text2-sm {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.puplic-relation-head-text3 {
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 106%;
  /* identical to box height, or 45px */

  color: #002761;
}
.puplic-relation-head-text-sm {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 106%;
  /* identical to box height, or 45px */

  color: #002761;
}

@media (min-width: 1300px) {
  #service-card {
    background: rgb(32 126 198);
    color: white;
    border-radius: 10px;
  }
  .service-inner-card {
    background: linear-gradient(
      99.89deg,
      rgba(33, 151, 242, 0.53) 0%,
      rgba(0, 11, 15, 0) 100%
    );
    box-shadow: 6px 8px 52px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(49px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
  }
  .testimony-ceo-sub-name {
    position: relative;
    transform: translate(-10rem);
  }

  #banner-text {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    /* identical to box height */

    color: #fef8f8;
  }
  #banner-sub-text {
    margin-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height */

    color: #fef8f8;
  }
  .banner-image {
    width: 100%;
    height: 100%;
  }
  .puplic-relation-text {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    margin-top: 40px;
    line-height: 39px;
  }
}
.testimony-ceo-name {
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}
.contact-us {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 63px;
}

.footer-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
}

.footer-card {
  box-sizing: border-box;

  height: 190px;
  left: 1104px;
  top: 6293px;

  background: rgba(255, 255, 255, 0.11);
  box-shadow: 5px 6px 11px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

.figur-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height */

  text-align: center;
}

.banner-btn-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #fdc604;
}

@media (min-width: 1200px) {
  .career-card {
    box-sizing: border-box;
    position: relative;
    top: -7rem;
    /* width: 765px;
    height: 408px; */

    background: rgba(11, 10, 10, 0.1);
    box-shadow: 27px 16px 58px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(53px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
  }
  #career-page-image {
    padding: 25px;
    background: url("../assets/images/career.png");

    /* Full height */
    height: 50rem;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.career-card-position {
  position: relative;
  top: -7rem;
}
.career-text-position {
  position: relative;
  top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 124.5%;
  /* or 87px */

  color: #023a6d;
}

.career-text {
  font-style: normal;

  font-size: 20px;
  line-height: 140%;
  /* or 40px */

  color: #666464;
}

/* for mobile screens */

@media (min-width: 300px) {
  .career-page-image {
    padding: 25px;
    background: url("../assets/images/career.png");

    /* Full height */
    height: 30rem;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .career-card {
    box-sizing: border-box;
    position: relative;
    top: -7rem;
    height: px;

    background: rgba(11, 10, 10, 0.1);
    box-shadow: 27px 16px 58px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(53px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
  }
  .service-card {
    background-color: rgb(32 126 198) !important;

    color: white;
    border-radius: 15px !important;
  }
  .banner-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    /* identical to box height */

    color: #fef8f8;
  }

  .banner-sub-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height */

    color: #fef8f8;
  }
  .puplic-relation-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 39px;
  }
}

@media (min-width: 700px) {
  .postition {
    position: relative;
    top: 90px;
  }
  .postition-public {
    position: relative;
    top: 50px;
  }
  .text-center-content {
    font-weight: 300px;
    font-size: 26px;
    line-height: 39px;
    font-style: normal;
  }
}

.apply-font fw-normal {
  font-size: 20px;
  line-height: 30px;
}

.banner-left-image {
  position: absolute;
  top: 25%;
}

#banner-btn-text {
  border-radius: 1.4em;
  border-color: #fdc604;
  padding: 8px 20px;
  color: #fdc604;
}

#banner-btn-text:hover {
  background: #fdc604;
  color: #fff;
}
