<div
  class="px-xl-2 pb-5"
  id="service"
  style="
    background: linear-gradient(rgb(1, 126, 241) 0%, rgb(93, 197, 242) 79.6%);
  "
>
  <div>
    <div class="row px-0 mx-0">
      <div class="col-12 col-md-12 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-md-12 col-lg-10 col-xl-10">
        <div class="pt-5">
          <div class="text-centers">
            <div class="pt-5">
              <div class="row pt-2 px-md-5 pb-5">
                <h1
                  class="text-white d-block d-md-block d-lg-none d-xl-none text-center"
                  style="
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 72px;
                    font-style: normal;
                  "
                >
                  Our Service
                </h1>
                <div class="col-12 col-sm-6 col-md-12 col-lg-8 col-xl-8">
                  <div class="d-none d-md-none d-lg-block d-xl-block">
                    <h1
                      class="text-white"
                      style="
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 72px;
                        font-style: normal;
                      "
                    >
                      Our Service
                    </h1>
                    <div class="text-font text-white text-center-content">
                      @mecnix, we set new brand in motion, revive
                      existingexisting ones. and create fresh customer's
                      experience
                    </div>
                  </div>
                  <div
                    class="d-block d-md-block d-lg-none d-xl-none text-center"
                  >
                    <div class="text-font text-white">
                      @mecnix, we set new brand in motion, revive
                      existingexisting ones. and create fresh customer's
                      experience
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-6 col-md-12 col-lg-4 col-xl-4 pt-xl-5 pt-4"
                >
                  <div class="px-1 px-xl-5 text-center">
                    <img src="../assets/images/logo.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="pt-3 service-inner-card">
                <div class="pt-5 pb-5">
                  <div class="row gx-md-5 px-lg-3 px-md-0 mx-0 text-font">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-4 pb-4">
                      <module
                        href="/components/home/ourService/serviceCard.html"
                        locals='{"title": "Content Marketing"}'
                      >
                        <p>
                          We have first hand knowledge on top trends and
                          leverage our expertise on conversations, and shape
                          leadership with our content distribution methods. You
                          are the hype.
                        </p>
                      </module>
                    </div>
                    <div
                      class="col-12 col-md-12 col-lg-12 col-xl-4 pt-md-0 pt-5"
                    >
                      <module
                        href="/components/home/ourService/serviceCard.html"
                        locals='{"title": "SEO Optimization"}'
                      >
                        <p>
                          Search Engine Optimization is not just keywords. With
                          skilled concept, we propose a unique SEO approach
                          specifically for your business. We give your content
                          high relevant keywords, and help produce SEO-optimised
                          content for your blog.
                        </p>
                      </module>
                    </div>
                    <div
                      class="col-12 col-md-12 col-lg-12 col-xl-4 pt-md-4 pt-5 pt-xl-0"
                    >
                      <module
                        href="/components/home/ourService/serviceCard.html"
                        locals='{"title": "Community growth"}'
                      >
                        <p>
                          We locate your target audience and roll them in,
                          making sure they stick around. It's our reason for
                          organic conversations on Reddit, Twitter, Telegram,
                          4chan and other social media handles, as well as top
                          Cryptocurrency-related forums
                        </p>
                      </module>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  </div>
  <br />
</div>
