<div class="card service-card" id="service-card">
  <div class="card-body">
    <div class="pt-3 pb-3">
      <i class="bi bi-megaphone" style="font-size: 30px; color: skyblue"></i>
    </div>
    <div
      class="pb-4"
      style="
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        font-style: normal;
        text-align: justify;
      "
    >
      {{ title }}
    </div>
    <div
      style="
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        font-style: normal;
        text-align: justify;
      "
    >
      <content></content>
    </div>
  </div>
</div>
