<div class="bg-main-yellow">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <div class="container">
        <h1 class="pt-5 pb-5">Current Opening</h1>
        <!-- Marketing -->
        <module
          href="/components/career/currentOpening/openingsContainer.html"
          locals='{"jobTitle": "Marketing"}'
        >
          <module
            href="/components/career/currentOpening/openingCard.html"
            locals='{"title": "Growth Manager", "description": "Full Time Remote"}'
          >
          </module>
          <module
            href="/components/career/currentOpening/openingCard.html"
            locals='{"title": "Growth Strategist","description": "Full Time Remote"}'
          >
          </module>
          <module
            href="/components/career/currentOpening/openingCard.html"
            locals='{"title": "Social Media Specialist","description": "Full Time Remote"}'
          >
          </module>

          <!-- Product and Design -->
          <module
            href="/components/career/currentOpening/openingsContainer.html"
            locals='{"jobTitle": "Product and Design"}'
          >
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Ux Reseacher", "description": "Full Time Remote"}'
            >
            </module>
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Ui Designer","description": "Full Time Remote"}'
            >
            </module>
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Graphics Designer","description": "Full Time Remote"}'
            >
            </module>
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Motion/Video Designer","description": "Full Time Remote"}'
            >
            </module>
          </module>

          <!-- Product and Design -->
          <module
            href="/components/career/currentOpening/openingsContainer.html"
            locals='{"jobTitle": "Devs"}'
          >
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Senior Backend Developer", "description": "Full Time Remote"}'
            >
            </module>
            <module
              href="/components/career/currentOpening/openingCard.html"
              locals='{"title": "Senior Frontend Developer","description": "Full Time Remote"}'
            >
            </module>
          </module>
        </module>
        <div class="pt-5 pb-5">
          <div class="row">
            <div class="col-12 col-md-5 col-lg-5 col-xl-5 text-center">
              <img src="../assets/images/not-found.png" style="height: 200px" />
            </div>
            <div class="col-12 col-md-7 col-lg-7 col-xl-7">
              <h1 style="font-weight: bolder">Can't find your match?</h1>
              <p style="font-size: 25px">
                Tell us what you'av got and how you can help
              </p>
              <div class="text-muted" style="font-size: 25px">
                Send Us a mail:
                <span style="color: rgb(250, 198, 3)">mecnix@mecnix.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
