<div class="row">
  <div class="col-12">
    <div class="list-group py-3">
      <div class="" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-1 text-capitalize" style="font-size: 29px">
            {{title}}
          </div>
          <small
            ><button
              type="button"
              class="btn btn-sm text-white"
              style="
                border-radius: 10px;
                font-size: 25px;
                background: rgb(250, 198, 3);
              "
            >
              <a
                class="text-white"
                href="../pages/apply.html"
                style="text-decoration: none"
                >Apply</a
              >
            </button></small
          >
        </div>
        <div class="mb-1">
          <div
            class="d-flex flex-row bd-highlight mb-3 text-capitalize"
            style="font-size: 20px"
          >
            <div class="bd-highlight">{{description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
